body {
  background-color: aqua;
  color: black;
  font-family: darlington-signature;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  word-spacing: 2px;
}
#submit, #reset {
  width: 100%;
  display: block;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
}
